*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

/* ***********FrameWork************* */
.god{
    background-color: rgb(234, 199, 28);
}

.black{
    background-color: black;
}
.center{
    width: 100%;
    margin: 0 auto;
}


/* *********fim-framework******* */

.fundo{
    background-color: black;
    height: 500px;
    width: 100%;
    opacity: 1;
}

section.page_home{
    background-image: url('/img/fundoCoin.png');
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
    opacity: 0.6;
    z-index: 0;
    
}

header{
    width: 100%;
    
}

.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: -580px;
    
    
}

.topo > img#logo{
    width: 20em;
    z-index: 1;
}

.topo > nav.menu_desktop{
    z-index: 1;
}

nav.menu_desktop ul{
   display: flex;
}

nav.menu_desktop li{
    margin: 0 45px;
    list-style-type: none;
    
}

nav.menu_desktop li > a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.8s;
    
}

nav.menu_desktop li > a:hover{
    color: black;
    transition: 0.9s;
    
}

.topo > input#login{
    padding: 8px 50px;
    border: 1px solid goldenrod;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    background: none;
    color: goldenrod;
    z-index: 1;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: background 0.8s;
    
}

.topo > input#login:hover{
  background:#edb500 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  color: white;
    
}

.topo > input#login:active{
    background-color:#ecc412;
    background-size: 100%;
    transition: background 0s;
}

section.center_cambio{
    z-index: 2;
    width: 70%;
    height: 400px;
    background-color: blue;
    margin: 0 auto;
    
}

.coins_cambio{
    width: 60%;
    background-color: white;
    margin: 0 auto;
    padding: 20px 0;
   
}
